body {
    background-color: rgb(167, 167, 167);
    text-align: center; 
    color: rgb(195,195,195);
    margin: 0 0 88px 0;
    font-size: 20px;
}

.titulo{
    color: rgb(36,36,36);
}

.subtitulo{
    color: rgb(84,84,84)
}

a {
    text-decoration: none;
    color: rgb(195,195,195);
}

.lista{
    list-style: none;
    padding: 0;
}

.imagem {
    width: 300px;
}

.barra_navegacao {
    position: fixed;
    background-color:rgb(36, 36, 36);
    bottom: 0;
    width: 100%;
    
}

.barra_navegacao ul{
    display: flex;
    justify-content: space-around;
    padding: 0;

}
.barra_navegacao li {
    list-style: none;
}

.primeira_secao {
    background-color: rgb(139,139,139);

}

.segunda_secao {
    background-color: rgb(111, 111, 111);
}

.terceira_secao {
    background-color: rgb(84, 84, 84);
}

.quarta_secao {
    background-color: rgb(54, 54, 54);
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div{
    padding: 0px 20px 0px 20px;
}