*, body {
    margin: 0%;
    box-sizing: border-box;
    
}
.cabecalho {
    background-image: url("./Img/image\ \(2\).png");
    background-position: 40% 50%;
    height: 80vh; 
    background-size: cover;
}

.cabecalho__titulo{
    color: rgb(0, 0, 0);
    font-size: 70px;
    margin-top: 450px;
    text-align: center;
    margin: left 130px;
    ;
    
}

.navegacao_logo {
    margin-right: 45%;
    margin-top: 6px;
    margin-bottom :3px;
    width: 200px;
    justify-content: space-around
}

.navegacao {
    width: 100%;
    height: 10%;
    align-items: center;
}

.navegacao__lista {
    color: rgb(247, 144, 9);
    font-size: 29px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 98%;
    
}

.navegacao__lista > li {
    justify-content: space-around;

}
.apresentacao {
    margin-top: 50px;
    margin-left: 10px;
    font-size: 30px;
}
.listas {
    margin-top: 16px ;
    margin-left: 0px;
    width: 75%;
}
.listas__titulo {
    color: rgb(199, 116, 8);
    font-size: 56px;
    padding: 20px;
}
.listas__personagens--seriado>li {
    font-size: 40px;
    margin-top: 50px;

}
.listas__personagens--descricao {
    font-size: 30px;
    display:inline;
}
img {
width: 390px;
    margin: 28px 10px 20px 0;
}
.listas__caixa2 {
    margin-top: 30px;
}
.descricao {
    font-size: 30px;
    display: flex;
}
.Perolas__subtitulo {
    font-size: 40px;
}
.gif {
    padding:15px ;
    text-align: start
}
.img__curiosidades {
     width: 500px;
     height: 40vh;
        display: flex;
        margin-left: 75%;;
        margin-right: auto;
}
.listas__curiosidades__item {
    font-size: 30px;
    padding: 20px;
}
footer {
    background-color: rgb(181, 89, 218);
    height: 55vh;
    display: flex;
}
.imgfooter {
    margin-left: 30px;
   padding:30px ;
   height: 50vh;
   display: inline;
}
.legenda {
    font-size: 30px;
    padding:0px ;
    color: rgb(0, 0, 0);
    margin-top: 330px;
   
}
