
/*
sou um comentariono CSS :)
menos especificos vem primeiro 
 
classes chamamos com o . na frente 
elementos chamamos apenas coma tag do elemento
*/


* {
    margin: 0;
    box-sizing: box;
    /* tamanho de caixa: até a borda*/
}


ul > li {
    /* estilo de lista: nebhuma */
    list-style: nome;
    
}
 .conteudo_principal {
    /* background-color = cor de fundo */
    background-color: rgb(124, 12, 50);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

 .paragrafo_apresentacao{
    font-size: 32px;
    color: rgb(249, 238, 255);
    font-size: 16px;
}

p {
    /* font-size = tamanho da fonte */
    font-size: 16px;
    font-family: ;: 'Hind Siliguri', sans-serif;
    text-align: center;
}

}

/* a parte de cima do css, podemos usar pra dar um reset no estilo padrão da página,
pra que fique mais do jeito como preferimos.
*/

.section {
    /* text-align = alinhar o texto */
    text-align: center;
}

.imagem_ruanne {
    /* width = largura */
    width: 250px;
    text-align: center;
}


.titulo_listas{ 
    text-align: center;
    color: rgb(8, 197, 8);
}

.sessao_listas {
    display: inline-block;
    width: 350px;
}

.lista {
    width: 280px;
    height: 50px;
    padding: 80px;
    margin: 26px;
    border: 3px black solid;
}

/* 
   height: altura
   padding: preenchimento
   margin: margem
   border: borda - tamanho em px, cor, e tipo
   (solido, pontilhado...) solid, dashed
*/

.lista > li {
    text-align: center;
    border: black;
    min-height: fit-content;
}

.article {
    text-align: center;
}

