body{
  text-align: center;
  align-items: center; background-color: rgb(255, 155, 175);
}
*{ margin: 0 ; padding: 0; border: 0; text-decoration: none;}
  
.header{
    height: 200px;
}
  
.titulo{
    font-size: 70px;
}
  
.mulhernegra{
    height: 100px;
}
  
.header{
    display: flex; align-items: center; 
    justify-content: center;
    background-color: thistle;
    height: 70vg;}

.nav{
    display: flex; 
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 20px; 
    height: 25px; align-items: center;
    background-color: black; 
    text-decoration: none; ;
}

a{
    text-decoration: none; 
    color: white;}

    .apresentacao ol{
      list-style: none;} 

  .apresentacao{ margin-left: 50%;
      transform: translateX(-50%); font-size: 25px;}

      .ima{
        margin-left: 50%;
        transform: translateX(-50%)
    }
    .foto li{
      display: inline;
      list-style: none;
     }
     .fo { margin-left: 250px ;
    margin-top: 100px;
justify-content: space-around;}
.fotos { margin-left: 250px ;
    margin-top: 100px;
justify-content: space-around; align-items: center;list-style-type: none;}

.filmesz {display: inline-block;}

.fotosz {display: inline-block;}

.eu { margin-left: 100px ;
    margin-top: 80px; }

.luz { margin-left: 100px ;
    margin-top: 80px;}

.lua { margin-left: 100px ;
    margin-top: 80px;}

.arena {margin-left: 88px ;
    margin-top: 80px; align-items: center;}

.texti { background-color: thistle; font-size: 25px;}

    .texti ol{  list-style: none;}

.enola{ margin-left: 100px ;
    margin-top: 80px;}

.dilema{ margin-left: 100px ;
    margin-top: 80px;}

.narnia{ margin-left: 100px ;
    margin-top: 80px;}

.text {font-size: 25px;}
