*, body {
    margin: 4px;
    box-sizing: border-box;
    font-family: 'Shippori Antique';
}

a {
    color: inherit;
    text-decoration: none;
}

.navegacao {
    background-color:wheat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navegacao__lista {
    color: burlywood;
    font-size: 22px;
    display: flex;
    list-style: none;
    text-decoration: none;
    text-transform: none;
}

.navegacao__lista > li {
    margin-right: 20px;
}

img {
   width: 400px;
   height: 266px;
   justify-content: space-between;
   align-items: center;
}

.cabecalho__titulo{
    color:black;
    font-size: 25px;
}

.listas__caixa {
    margin: 20px;
    
}

.listas__titulo {
    font-size: 30px;
    color:wheat;
    
}

.listas__albuns__item {
    padding: 15px; 
   
}

.lista__mv__item {
    padding: 15px;
}

footer {
    background-color: gray;
    text-align: center;
    height: 20px;
    color: white;
    font-size: 13px;
}

