body {
    background-color: rgb(197, 197, 197);
  }
  
  main {
    color: rgb(71, 52, 52);
    font-size: 20px;
    text-align: center;
    justify-content: center;
  }
  section {
    background-color: gray;
    text-align: center;
  }
  
  p {
    color: rgb(71, 52, 52);
    font-size: 20px;
  }
  
  h1 {
    font-size: 40px;
  }
  
  img {
    width: 150px;
    height: 200px;
    text-align: center;
  }
  
    p {
        color: rgb(71, 52, 52);
        font-size: 20px;
    }
  
    h1 {
        font-size: 40px;
    }
  
    img {
        width: 150px;
        height: 200px;
        text-align: center;
        margin: auto;
    }
  
  
    div {
        width: 150px;
        height: 200px;
        justify-content: space-between;
        background-color: gray;
    } 

    Ul{
        list-style: none;
    }
