
.oi{
    font-family: 'Volkhov', serif;
    text-align: center;
    font-size: 35px;
    background-color: rgb(201, 154, 54);
    color: white;
    height: 80px;
}
.main{
    background-color: rgb(214, 180, 27);
}

.foto_da_isabella{
    width: 180px;
    height: 190px;
    border-radius: 40%;
    box-shadow: 3px 3px black;
    border: 3px #c7bcd1 double;
}
.introducao{
    color: whitesmoke;
    display: flex;
    align-items: center;
    
}
.ai{
    color: aliceblue;
    font-family: 'Volkhov', serif;
    font-size: 18px;
    display: flex;
    
}
h2{
    text-align: center;
    font-size: 30px;
}
.desenhos{
   
}
.desenhos_imagens{
    width: 400px;
    height: 400px;
    margin: 9px;

}
.link_do_insta{
    font-size: 20px;
}
