body {
    margin: 0%;
    font-family: 'Nunito', sans-serif;
    color: #096811;
}
header {
    padding-top: 20px;
    padding-bottom: 40px;
    display: block;
    text-align: center;
    background: #3c6e57;
    color: #f5f5f5;
    font-family: 'Yuji Syuku', serif;
    font-size: 20px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: justify;
    margin-left: 5%;
    margin-right: 5%;
}
.content {
    padding: 25px;
}
.lista {
    color: black;
    font-size: 18px;
    text-align: justify;
}
.container2{
    align-items: center;
    margin-left: 7%;
    margin-right: 5%;
}
#hp  {
    float: right;
    margin: 15px 15px 15px 15px;
}
.content2{
    padding: 25px;
}
.history{
    color:black;
    font-size: 18px;
    text-align: justify;
}
.links{
    font-size: 18px;
    text-align: center;
    margin-bottom: 5%;
}
::selection{
    color: #aafad2;
    background-color: #8c1dcc;
}