*{
    margin: 0;

   font-family: 'Playfair Display', serif;
}
ul > li{
    list-style: none;
    padding: 0%;
}
.cabecalho{
    /*background-image: url(../imagens/conheca.JPG);
    margin-top: 10px;
    height: 180px;
    background-size: cover;
    padding: 80px;
    background-position: top center;*/
    background-color: lightseagreen;
    height: 250px;
    padding: 40px;
    text-align: center;
}

.conteudo_pricipal{
    background-color: white;
    text-align: center;
    margin: auto 0px;
}
.artigo_apresentacao{
    text-align: center;
    background-color: white;

}
a{
    color:lightseagreen;
}
section{
    background-color:white;

}
.sessao_listas{
    display:inline-block;
    margin-top: 40px;

}
.p_apre{
    font-size: 22px;
    text-align: justify;
    background-color: white;
    padding: 10px;
    /*background-color: #29397A;*/

}

article{
    background-color: white;
}
.titulo{
    text-align: center;
    color:rgb(255, 255, 255);
    background-color:lightseagreen;
    padding: 10px;
    margin: 10px;
}

.titulo_principal{
    font-size: 100px;
    text-align: center;
    color: white;
}
.subtitulo{
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
    color: white;
}
.titulo_li{
    color:lightseagreen;
    padding: 10px;
    margin: 10px;
}
.texto{
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: 22px;
    padding: 10px;
    
}
.lista{
    width: 260px;
    height: 200px;
    padding: 58px;
    padding-bottom: 88px;
    border: 3px black solid;
    box-shadow: 6px 6px rgba(17, 17, 17, 0.171);
    margin: 30px;
    background-color:white ;
    text-align: left;
}

.foto{
        width: 300px;
        height: 300px;
        border: 1px lightseagreen solid;
        box-shadow: 4px 4px rgba(17, 17, 17, 0.171);
    
    
}
.quadro{
    text-align: center;
    color:rgb(255, 255, 255);
    background-color:white;
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}
.imagem_quadro{
    height:180;
    width: 200px;
    padding: 10px;
    background-color:lightseagreen;
}
.imagem{
    
    height: 110px;
    width: 180px;
    box-shadow: 4px 4px rgba(17, 17, 17, 0.171);
}