*, body {box-sizing: border-box;
        font-family: 'Poppins', sans-serif;}

a {color: inherit;
   text-decoration: none;}


ul > li {list-style: none;}

.div-imagens {display: flex;
             justify-content: space-around}

.div-footer {display: flex;
            justify-content: center;
            margin: 10px;}