body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAE1F6;
    flex-direction: column;
    
}
 
 .segunda{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color:#FAE1F6;
    flex-direction: column;
}

.conteudo {
    display: flex;
    align-items: center;
    background-color:#FAE1F6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    flex-direction: column;
    justify-content: left;

}

.alguma{
    display: inline;
    align-items: flex-end;
    background-position: initial;
    font-style: oblique;
    width: 100%;
    flex-direction: column;
    justify-content: left;
    background-color: magenta;

}

.navbar{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}
nav{
    background-color: rgb(230, 38, 156)
    
}

.final{
    display: flex;
    justify-content: center;

}

.rodape{
    position: relative;
    bottom: 15mm;
    background-color: rgb(230, 38, 156);
}





mnkl