 /* 
como escrever css!
seletor { 
    propriedade1: valor; 
    propriedade2: valor;
} */

/* seletor da página inteira - RESET */

body {

    background-color: #2e2a2c;
}

.cabecalho {

    margin: auto;
    background-color: #7d4599;
    border:whitesmoke solid;
    border-width: 1px;
    width: 1000px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.final {

    margin:auto;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    color:#7d4599;
}