body {
    background-color: #D1B675; 
    font-family: 'Special Elite', cursive; 
}
.cabecalho {
    background-image: url(../imagens/estantes.jpg);
    height: 400px;
    background-size: cover;
}
ul > li {
    list-style: decimal
}
h5 {
    text-align: center;
    color: #245D6B;
}
h1 {
    text-align: center;
    color:#82312B; 
}
.pessoas_que_me_inspiram {
    text-align: center;
}
.foto {
display: inline-block;

}
.jp_e_clarencio { 
    width: 86px;
    height: 118px;
}
.jp {
    width: 86px;
    height: 118px;
}
.mamaepapa {
    width: auto;
    height: 118px;
}
.cmt {
    width: auto;
    height: 118px;
}
.pelotao {
    width: 86px;
    height: 118px;
}
.cpp {
    width: 86px;
    height: 118px;
}
.parte_pinterest {
    text-align: center;
}