
*, body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
}

/* Cabecalho*/
header {
        background-image: url(https://1.bp.blogspot.com/-Q8jKwnjU1Ck/UQwMY6O9JdI/AAAAAAAAQBI/3HxRtoqcCjk/s1600/galaxia-wallpaper-pc-computador-tela-gratis-ambiente-de-trabalho.jpg);
        height: 20vh;
        background-position: 50%;
}

h1 {
    color: rgb(204, 204, 204);
}

h2 {
    color: rgb(206, 194, 194);
}

/* Falando sobre mim*/
.sobre {
    font-style: arial;
    color: rgb(241, 240, 240);
    background-color: rgb(24, 24, 24);
    display: inline-block;
    font-size: 25px;
}

img {
    width: 170px;
    margin-left: 30px;
    padding: 10px;
}

/* Listas*/
section {
    background-color: rgb(24, 24, 24)
}

.listas__titulo {
    font-size: 32px;
    color: rgb(236, 236, 241);
}
.caixa--sublinhada {
    border-bottom: 5px solid;
}

.caixa--sublinhada {
    color: rgb(208, 208, 211);
    font-size: 25px;
}

.listas__caixa {
    color: rgb(246, 246, 248);
    font-size: 25px;
   
}
/* Rodape*/
footer {
    height: 35vh;
    background-color: gray;
    text-align: center;
}

