* {
    margin: 0;
    background-color: #fbef3c;
    
}
.titulo01{
    font-family: 'Dancing Script', cursive;
    margin: 10px;
    align-items: center;
    font-size:92px;
    margin-left: 50px;
    color: #f17909;
}
.paragrafo01{
    font-family: 'Inconsolata', monospace;
    margin: 0 auto;
    margin-top: 250px;
    margin-left: 500px;
    width: 43%;
    text-align: center;
    border:10px #f1a62e double;  
    padding: 5px;  
    font-size: 24px;  
}

.caixa-imagem{
    width: 20%;
    text-align: center;
    margin-top: 0px;   
}

.imagem{
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: 20px;
    border-radius: 80%;
    box-shadow: 3px 3px #f8e800;
    border: 3px #ffe5c8 double;    
}
ul{
    font-family: 'Inconsolata', monospace;
    
}
.sessao_dados--titulo{
    font-family: 'Dancing Script', cursive;
    margin: 70px;
    font-size: 50px;
    color: #f17909;
    width: 40%;
    text-align: center;
    border:10px #f1a62e double;  
    padding: 5px;  
}
.sessao_dados--paragrafo{
    font-family: 'Inconsolata', monospace;
    margin-left: 20px;
    font-size:20px;
    color: #663907;
}

.sessao_livros--titulo{
    font-family: 'Dancing Script', cursive;
    margin-left: 770px;
    margin-top: 20px;
    font-size: 50px;
    color: #f17909;
    width: 40%;
    text-align: center;
    border:10px #f1a62e double;  
    padding: 5px;  
}

.livros {
    font-family: 'Inconsolata', monospace;
    margin-left: 720px;
    font-size:20px;
    margin-top: 30px;
    color: #663907; 
}

.sessao_filmes--titulo{
    font-family: 'Dancing Script', cursive;
    margin: 50px;
    font-size: 50px;
    color: #f17909;
    width: 40%;
    text-align: center;
    border:10px #f1a62e double;  
    padding: 5px;  
}

.filmes{
    font-family: 'Inconsolata', monospace;
    margin-left: 20px;
    font-size:20px;
    color: #663907; 
}

.sessao_series--titulo{
    font-family: 'Dancing Script', cursive;
    margin-left: 770px;
    font-size: 50px;
    color: #f17909;
    width: 40%;
    text-align: center;
    border:10px #f1a62e double;  
    padding: 5px;  
}

.series{
    font-family: 'Inconsolata', monospace;
    margin-left: 720px;
    margin-top: 30px;
    font-size:20px;
    color: #663907;
}

.sessao_curiosidades--titulo{
    font-family: 'Dancing Script', cursive;
    margin:50px;
    font-size: 50px;
    color: #f17909;
    width: 40%;
    text-align: center;
    border:10px #f1a62e double;  
    padding: 5px;  
}

.curiosidades{
    font-family: 'Inconsolata', monospace;
    margin-left: 20px;
    font-size:20px;
    color: #663907;
     
}

.sessao_redes--titulo{
    font-family: 'Dancing Script', cursive;
    margin-left: 770px;
    margin-top: 50px;
    font-size: 50px;
    color: #f17909;
    width: 40%;
    text-align: center;
    border:10px #f1a62e double;  
    padding: 5px;  
}

.sessao_redes--link{
    font-family: 'Inconsolata', monospace;
    margin-left: 720px;
    margin-top: 50px;
    font-size:20px;
    color: #663907;
    
}