section {
    background-color: rgb(218, 207, 193);
    color: black;
}

h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif
}

p {
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul > li {
    list-style: none;
}

.paragrafo_historia {
    font-size: 40px; 
    text-align: center;
}

body{ 
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 100px;
    background-color: rgb(218, 207, 193)
}

.paragrafo_jordan{
    font-size: 50px;
    text-align: center;

}

.titulo{ 
    font-size: 40px;
    text-align: center;
}

.imagem_dos_jordans{
    width: 325px;
}

.imagemjordanperto{
    width: 600px;
}

.imagemjordanmuitoperto{
    width: 300px;

}

.variospares{ 
    width: 300px;
} 

.artigo{ 
    width: 600px;
    
}

.listaconsumo{ 
    font-size: 20px;

}

.tamanhodaslistas{
    font-size: 20px;
}

.cabecalho{ 
    background-image: url(../imagens/brechorustico.JPG);
    height: 150px;
}

.brechoderua{ 
    width: 400px;
}

.pilhaderoupa{
    width: 265px;
}

.diferentona{
    font-size: 40px;
    text-align: left;
}

.meupaiamado{
    width: 350px;
}

.meudeusmeusenhor{
    width: 360px;
  
}

.manodoceu{
    width: 350px;
    height: 180px;
}

.sessaoflex{
    
}

.sessaoflex__imagem{
     width: 250px;
    text-align: center;
}

.rodape{
     background-image: url(../imagens/muitolindo.JPG);
     height: 150px;
     background-position: 10%;
}
