
/*  
sou um comentário no CSS :)
menos especificos vem primeiro 

classes chamamos com o . na frente 
elementos chamamos apenas com a tag do elemento
*/
* {
    margin: 0;
    box-sizing: border-box;
    /* tamanho de caixa: até a borda */
    font-family: 'Architects Daughter', cursive;
}

body {
    margin: 0 auto;
}

h1, h2 {
    font-family: Helvetica, sans-serif;
} 

ul > li {
    /* estilo da lista: nenhum */
    list-style: none;
} 

p {
    /* font-size = tamanho da fonte */
    font-size: 21px;
    color: #604E20;
}

/* 
a parte de cima do css, podemos usar pra dar um reset no estilo padrão da página,
pra que fique mais do jeito como preferimos.
 */
/* background-color = cor de fundo */
/*
 formas de pôr cor: 
     rgb = vermelho, verde e azul, números de 0 até 255; 
     rgba = a = alpha transparencia 0 e 1, exemplo 0.5
     background-color: rgba(30, 50, 100, 0.6); 
     pelo nome = green, red, etc... 
     hexadecimal = #000 rgb ou #000000 
 */

.cabecalho {
    background-image: url(../imagens/geraldo-e-outras-focas.jpg);
    height: 350px;
    background-size: cover;
    background-position: 10%;
    opacity: 0.7;
}

.conteudoPrincipal {
    background-color: #5BC88A;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

.titulo {
    text-align: center;
    color: #193B4D;
    padding: 15px;
}

.artigo {
    /* text-align = alinhar o texto */
    text-align: center;
    padding: 100px;
}

.artigo__imagemGeraldo {
    /* width = largura */
    width: 250px;
}

.sessaoListas {
    display: inline-block;
    padding: 20px;
}

.sessaoListas__lista {
    width: 300px;
    height: 150px;
    padding: 30px;
    margin: 30px;
    border: 2px black solid;
}

/* 
    height: altura
    padding: preenchimento
    margin: margem
    border: borda - tamanho em px, cor, e tipo (sólida, pontilhada...) solid, dashed

    margin-top: pra cima
    margin-right: pra direita 
    margin-bottom: pra baixo
    margin-left: pra esquerda
    margin: 50px 100px; = pra cima e pra baixo: 50px, e pros lados 100px;
    margin: 10px 5px 15px 20px; = cima: 10, direita: 5, baixo: 15, esquerda: 20. 
    margin: 0 auto; 0 pra cima e baixo, e automatico pros lados (dá uma centralizada)

    centralizar: text-align; margin: 0 auto; padding, margin,
*/

.sessaoListas__lista > li {
    text-align: center;
    padding-bottom: 10px;
}

.sessaoFlex{
    display: flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.sessaoFlex__imagem {
    width: 150px;
    height: 150px;
}