* {
    font-size: 18px;
  }
  
  body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 225, 140);
    margin: 0px;
  }
  
  header>nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(12, 12, 12);
    padding: 15px;
  }
  
  header ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    min-width: 350px;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  header ul>li{
      font-size: 0.9rem;
  }
  
  header h1{
      font-size: 3rem;
      font-family: 'Pacifico', cursive;
      text-align: center;
      margin: 0px;
  }
  
  header h3{
      font-size: 1.1rem;
      font-weight: lighter;
      font-style: italic;
      text-align: center;
      margin-bottom: 100px;
  }
  
  .main__fotoInicio--container{
      display: flex;
      justify-content: center;
      
      
          
  }
  
  
  section img {
    max-width: 230px;
    min-height: 150px;
  }
  
  .main__sectionImages--trioImg {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 15px;
    
  }
  
  .main__sectionImages--trioImg > div {
    padding: 18px;
  }
  h4{
      font-size: 2rem;
      font-family: 'Sigmar One', cursive;
  }

  .SobreNos{
    font-size: 1.1rem;
    font-weight: lighter;
    
    text-align: center;
    margin-bottom: 100px;

  }

  .SobreNosFinal{
    font-family: 'Vidaloka', serif;
    font-weight: lighter;
  }


   footer{
       background-color: black;
   }
   .fontes{
       color: whitesmoke;
       display: flex;
       justify-content: center;
   }
  
.comeco_do_footer{
    display: flex;
    justify-content: center;
    color: whitesmoke;
}
.footer_final{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    font-style: italic;
}
  
  
  @media screen and (max-width: 830px) {
    * {
      font-size: 16px;
    }
  
    .main__textoDescritivo--container {
      padding: 23px;
    }
  
    .header__titulos {
      line-height: 40px;
      margin-bottom: 50px;
    }
  }
  
  @media screen and (max-width: 600px) {
  
    *{
      font-size: 15px;
    }
  
    nav ul {
      display: block;
      line-height: 30px;
      text-align: right;
      margin-right: 20px;
    }
  }