@import url('https://fonts.googleapis.com/css2?family=Comforter&family=M+PLUS+Code+Latin:wght@100&display=swap');
/* seletor da página inteira; text-decoration:none;*/

/* *{ margin:0; padding: 0; border:0;} */
body,html{
  height:100%;
  margin:0%;
}
 .cabecalho {
          background-image:url(https://jovial-swanson-46b53d.netlify.app/imagens/DSC_7482-41.jpg);
          background-position: 60%;
           height:100vh; 
          background-repeat: no-repeat;
          background-size: cover;
        background-position: center;}
.navegacao{
          background-color:#fdf3b8;
          display: flex;
          justify-content: space-between;
          align-items: center;
          
}
.navegacao_logo {
          /* margin-top: 20px; ; */
width: 200px;

}

.navegacao_lista   {  
color: rgb(237, 73, 101);
font-size: 26px;
display:flex;
}
.navegacao_lista > li {
          margin-right: 20px;
          
        }
        .navegacao_lista_eu a:hover{
         color:#C6E5B1;
        }
        .navegacao_lista_filme a:hover{
color:#E6C9F9;
        }
        .navegacao_lista_cantora a:hover{
color:#D4DAFE ;
        }
        .navegacao_lista_livro a:hover{
color:#FFD1D0 ;
        }
       

    
a:hover {
  color: rgb(255, 0, 140);
 }

h1{      /* border-color: rebeccapurple;
          border-width: 10px;
          border-style: solid; */
          display: inline-block;
          color:rgb(255,105,180);
          /* border:yellow 0 solid;
          background-color:rgb(255, 255, 0); */
          text-align:center;
           width: 100vw;
          height: 100vh;}
 

img { width: 530px;}

h2 { color:fff; font-size: 28px;}

h3{ font-size: 30px; font-family:'Comforter'}
.conteudo_aladdin{
 display: table;
}
.conteudo_eu{
  display: table;
}
.imagem_eu{
  display:table-cell;
  float:left;
  width: 550px;
  margin-top: -20px;
}
.texto.eu{
  display:table-cell;
  float: left;
  font-family: 'Courier New', Courier, monospace;
  }
  

  
  
.imagem_aladdin{
 display:table-cell;
 float:left;
 width: 550px;
  margin-top: -20px;
  
}
.texto.aladdin{
 display:table-cell;
 float: left;
} 
.artigo_cartaz{ transition: 0.5s;}

.artigo_cartaz:hover{
width: 510px;
/* tem como colocar bordar! e:
border:black solid;
border-radius:100px; */
}
.conteudo_melanie{
  display: table;
}
.imagem_melanie{
  display:table-cell;
  float:left;
  width: 550px;
  margin-top: -20px;
}
.texto.melanie{
  display:table-cell;
  float: left;
  font-family: 'Courier New', Courier, monospace;
}
  
/* .lista_titulo_musicas{

} */

.listas_musicas_item {
  padding: 20px;
  display: inline;
 
}

.conteudo_fmf{
  display: table;
}
.imagem_fmf{
  display:table-cell;
  float:left;
  width: 550px;
  margin-top: -20px;
  
}
.texto.fmf{
  display:table-cell;
  float: left;

}
.lista_fmf1{
  color:rgb(209, 38, 124);
}
.lista_fmf2{
  color:rgb(255, 79, 79);
}
.lista_fmf3{
  color:rgb(99, 99, 252);
}
.lista_fmf4{
  color:rgb(154, 80, 223);
}       
/* .caixa--sublinhado{
border-bottom: 5px solid blue;} */

footer{
          text-align: center;
          background-color:pink;
          height: 100px;
        color: purple;
        font-size:19px;
        
      }

/* .atigo_subtitulo_filme{
          font-family:'Comforter'

} */