*{
    box-sizing: border-box;
}

body{
    color: #6d4627;     
    font-family: 'Architects daughter';
    font-size: 22px;    
    background-color: #e2c74d;
}

.nav{
   background-color: #719ab1;
   width: 1250px;
   padding:1px;
   margin: auto;
   border-radius: 30px;
   border-style: double;
   border-color: rgb(109, 70, 39);
   
}

.apresentacao{
    width: 100%;
}

.titulo-nav{
    font-family: 'bakso sapi';
    font-size: 50px;
    text-shadow: 3px 3px #2e32e7;  
    color: #e91212;
    text-align: center;
    }

.subtitulo-nav{
    font-family:'Architects daughter';
    font-size: 25px;
    text-shadow: 3px 3px #2e32e7;
    color: #e91212;
}

.foto1{
    width: 300px;
    height: 300px;
}

.subtitulo{
    font-weight: lighter;
    font-family:'bakso sapi';
    text-transform: uppercase;
    text-align: match-parent;   
    margin-left: 200px;
    font-size: 20px;
    text-shadow: 1px 1px #e72a2a;
}

.texto{
    margin: 0 auto;
    margin-top: 20px;
    width: 200%;
    text-align: center;
    border:px #ffffff double;  
    padding: 5px;  
    font-size: 24px;  
}

.imagens{
    margin-top: 40px;  
    text-align: center;
    display: inline-block;
    justify-content: center; 
}

.noite{
    width: 500px;
    height: 400px;
}

.auto{
    width: 500px;
    height: 400px;
}

.quarto{
    width: 500px;
    height: 400px;

}

.girassol{
    width: 500px;
    height: 400px;
}

.link_ancora{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #ec4e27;
    font-family: 'bakso sapi';
    text-align: center;
    padding-top: 30px;
}

.artigo{
    text-align: center;
}

.titulom{
    text-align: center;
    font-family: 'bakso sapi';
    text-shadow: 3px 3px #2e32e7;
    font-size: 40px;
    color: #e91212;
}

.sessaoListas{
    margin:auto;
    max-width: 450px;
    flex-direction: row nowrap;
    justify-content: space-between;
    text-align: justify;
    margin-top: 8px;
    padding-bottom: 3px;
}

.gif{
    display: block;
    margin-left: auto;
    margin-right: auto
}
