li {
    display: inline;
    margin: 100px;
}

.titulo_imagem {
    margin-top: 50px;
}

#titulo_clueless {
    margin-top: 120px;
}

.Personagens {
    text-align: center;
}

.textos {
    font-size: 20px;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    margin-left: 75vh;
    margin-bottom: 30vh;
    width: 20em
}

.navegacao_logo {
    width: 200px;
}

nav {
    position: fixed;
    top: 5px;
    display: flex;
    align-items: center;
    background-color: rgb(252, 255, 83)
}

.picture {
    width: 400px;
} 

.titulo {
    text-align: center;
    color: whitesmoke;
    margin-top: 60px;
}

body {
    background-color: rgb(84, 0, 139);
}

.o_filme {
    color: whitesmoke;
    text-align: center
}
#O_filme {
    font-size: 30px;
    margin-top: 200px;
}

.filme {
    font-size: 20px;
}


#persona {
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.picture {
    width: 370px;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
    margin-top: 30px;
}

#Personagens {
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    margin-top: 200px;
}

#Curiosidades {
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
}

ol {
    color: whitesmoke;
    font-size: 20px;
    margin-bottom: 30vh;
}

#Legado {
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
}

.paragrafo_legado {
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    margin-bottom: 75px;
}