*{
    padding:0px;
    margin:0px;
}
h1{
    font-size: 70px;
    color:black;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5px;
}

.cabecalho_subtitulo{
  color: black;
  text-align: center;
  font-size: 30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cabecalho_titulo{
    background-color:cornflowerblue;
    margin-bottom: 30px;
}


body{
    background-color:rgb(196, 222, 135);
    box-sizing: border-box;
}

.navegacao_lista_item{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content:space-between;
    padding: 20px;
    margin-left: 150px;
    align-items:center;
    background-color:lightcyan;
    display:inline;
    text-decoration: none;
}

.navegacao_lista_item:hover{
    cursor: pointer;
    
}

.links-internos1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    background-color:lightcoral;
}

.links-internos2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: lightsalmon;
}

.links-internos3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: lightyellow;
}

.links-internos4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    background-color: lightblue;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

.links-internos5{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    background-color: lightgoldenrodyellow;
    text-align: center;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
}
img{
    width: 400px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
}

footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0px;
    text-align: center;
    height: 10px;
    margin-top: 60px;
    margin-bottom: 20px;
}