

h1{
    outline: thick double rgb(235, 201, 201);
    /* margin: 10px 100px; */
    display: block;
    color: blue;
    background-color: black;
    text-align: center;
    width: 100%;
}

.cabecalho_subtitulo {
    display: inline;
    text-align: center;
    color: red;
}

.albuns{
    font-optical-sizing: auto;
    font-size: 3rem;
    font-stretch: 85%;
    font-weight: 450;;
}

.membros {
    color: red;
    font: arial 18px;
}


