body {
  margin: 0px 0px;
}

.camera {
  height: 300px;
  margin-top: 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #009EB2;
  height: 70vh;  
}

.titulo {
  font-size: 200px;
  color: #FF0072;
  text-shadow: #a5004a 5px 1px 1px;
}

.book {
  color: #009EB2;
  font-size: 35px;
  text-shadow: #a5004a 1px 2px 2px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
}

.menu1 {
  list-style-type: none;
  background-color: #FF0072;
  height: 85px;
  display: flex;
  flex-direction: row;
}

ul.nav { 
	margin:0; 
	padding:0;
  display: flex;
  justify-content: center;
}

ul.nav li {
  list-style:none;	
  display:inline;
}

.sobre {
  color: #009EB2;
  font-size: 35px;
  text-shadow: #a5004a 1px 2px 2px;
  font-weight: bold;
  text-transform: uppercase;
}

.movie {
  color: #009EB2;
  font-size: 35px;
  text-shadow: #a5004a 1px 2px 2px;
  font-weight: bold;
  text-transform: uppercase;
}

ul.nav li a {
	float: left;
	width:15.0em;	
	color: #FF0072;
	text-align: center;
	text-decoration: none; 
  margin-top: -65px;
}

.mim {
  font-size: 85px;
  display: flex;
  justify-content: center;
  color: #221A27;
  margin: 100px 0px 50px 0px;
}

.eu {
  height: 540px;
  margin: 0px 70px 40px 90px;
  box-shadow: #009EB2 25px 25px 1px;
}

.artigo {
  display: flex;
  justify-content: start;
}

.textinho {
  margin: 50px 100px;
  font-size: 40px;
  text-align: justify;
}

.negrito {
  color: #009EB2;
}

.artigo2 {
  background-color: #FF0072;
  border: solid #FF0072;
  margin: 75px 25px 50px;
}

.livros {
  font-size: 85px;
  text-shadow: #025964 4px 1px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #009EB2;
  margin: 50px 0px 50px 0px;
}

.corvos {
  height: 540px;
  box-shadow: white -25px 25px 1px;
  margin: 0px 70px 40px;
}

.livro1 {
  display: flex;
  justify-content: right;
  margin: 0px 90px;
  font-size: 50px;
  color: white;
}

.corvos1 {
  display: flex;
  justify-content: start;
  align-items: center;
}

.corvos3 {
  margin: 50px 50px;
  font-size: 40px;
  text-align: justify;
  background-color: white;
  border: white solid;
  box-shadow: #009EB2 25px 25px 1px;
}

.livro2 {
  display: flex;
  justify-content: left;
  margin: 100px 90px 0px;
  font-size: 50px;
  color: white;
}

.castelo {
  box-shadow: white 25px 25px 1px;
  margin: 30px 70px 90px;
}

.castelo2 {
  display: flex;
  justify-content: start;
}

.castelo3 {
  color: black;
  margin: 50px 50px;
  font-size: 40px;
  text-align: justify;
  background-color: white;
  border: white solid;
  box-shadow: #009EB2 -25px 25px 1px;
}

.cc {
  height: 512px;
  box-shadow: white -25px 25px 1px;
  margin: 0px 70px 40px;
}

.cc1 {
  margin: 50px 50px;
  font-size: 40px;
  text-align: justify;
  background-color: white;
  border: white solid;
  box-shadow: #009EB2 25px 25px 1px;
}

.cc3 {
  display: flex;
  justify-content: right;
  margin: 80px 100px -30px;
  font-size: 50px;
  color: white;
}

.cc2 {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 60px 0px;
}

.instagram {
  font-size: 35px;
  display: flex;
  justify-content: end;
  margin: -10px 100px 0px 10px;
}

.insta1 {
  height: 62px;
}

.menu2 {
  list-style-type: none;
  display: flex;
  align-content: center;
}

.facebook {
  font-size: 35px;
  display: flex;
  justify-content: end;
  margin: -10px 10px 0px 10px;
}

.face {
  height: 62px;
}

.linkedin {
  font-size: 35px;
  display: flex;
  justify-content: end;
  margin: -10px 10px 0px 360px;
}

.linkedin1 {
  height: 62px;
}

.filmes {
  font-size: 85px;
  text-shadow: #a5004a 2px 1px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF0072;
  margin: 50px 0px 50px 0px;
}

.artigo3 {
  background-color: #009EB2;
  border: solid #009EB2;
  margin: 0px 0px;
}

.sp {
  height: 600px;
  box-shadow: white -25px 25px 1px;
}

.sp2 {
  margin: 20px -120px;
}

.hamilton {
  height: 600px;
  box-shadow: white -25px 25px 1px;
}

.ors {
  height: 600px;
  box-shadow: white -25px 25px 1px;
}

.nomes {
  display: flex;
  justify-content: space-around;
  align-content: center;
  color: white;
}

.fotos {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 3px 0px 70px;
}

.rodape {
  background-color: #FF0072;
  font-size: 30px;
  display: flex;
  justify-content: end;
  color: white;
}

.rodape1 {
  list-style-type: none;
}

.rodape2 {
  color: white;
  text-decoration: none;
}