/* 
como escrever css!
seletor { 
    propriedade1: valor; 
    propriedade2: valor;
} */

/* seletor da página inteira -reset */
* {
    margin: 0;
}


h1 { 
    margin: 10px 200px;
    /* margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px; */
    display: block;
    color: #00f;
    background-color: yellow;
    text-align: center;
    border: black 2px dashed;
    /* 
    border-color: black;
    border-width: 10px;
    border-style: dotted; 
    */
} 

.cabecalho_subtitulo {
    display: block;
    color: red;
    text-align: center;
}