body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
nav{
    background-color:#BF8C6F;
}
.navbar{
display: flex;
justify-content: space-around;
width: 100vw;
}



p{
    color: black
}
img{
    width: 250px;
}

.primeira{
    display: flex;
    align-items: inherit;
    width: 100%;
    background-color: #D9B29C;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;
    height: 60%;

    
}

.segunda{
    display: flex;
    align-items: center;
    background-color:#8C5642;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    align-items: center;
    flex-direction: column;
    
}

.quarta{
    display: flex;
    align-items: center;
    width: 100%;
    background-color:#592F25;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    flex-direction: column;
    
}

.terceiro{
    display: flex;
    align-items: inherit;
    width: 100%;
    background-color: #260101;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    flex-direction: column;
    
}

